ACTION=="add", SUBSYSTEM=="usb", ATTR{product}=="QEMU USB Mouse",    ATTR{serial}=="42", TEST=="power/level", ATTR{power/level}="auto"
ACTION=="add", SUBSYSTEM=="usb", ATTR{product}=="QEMU USB Tablet",   ATTR{serial}=="42", TEST=="power/level", ATTR{power/level}="auto"
ACTION=="add", SUBSYSTEM=="usb", ATTR{product}=="QEMU USB Keyboard", ATTR{serial}=="42", TEST=="power/level", ATTR{power/level}="auto"
